numpy>=1.18.0
torch>=1.10.0
torchaudio>=0.10.0
torchvision>=0.2.2
flake8>=3.9.1
matplotlib>=3.4.1
pandas>=1.2.4
gym>=0.21.0
tensorboard-logger>=0.1.0
svgpathtools>=1.4.2
svgwrite>=1.4.1
svgpath2mpl>=1.0.0
